.taskCard {
  display: flex;
  align-items: center;
}

.done {
  background-color: #e8f7e8;
}

.done input {
  color: #777;
  text-decoration: line-through;
}

.dragHandle {
  padding: 4px;
}

.children {
  padding-left: 20px;
}
